In [2]:
import streamlit as st
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns

#TODO: check if ydataprofiler can be added as HTML

csv_file_path = Path('35__welcome_survey_cleaned.csv')
df = pd.read_csv(csv_file_path, sep=';')

In [9]:
df.sample(100)

,age,edu_level,fav_animals,fav_place,gender,hobby_art,hobby_books,hobby_movies,hobby_other,hobby_sport,...,learning_pref_teamwork,learning_pref_workshops,motivation_career,motivation_challenges,motivation_creativity_and_innovation,motivation_money_and_job,motivation_personal_growth,motivation_remote,sweet_or_salty,years_of_experience
37,35-44,Wyższe,Brak ulubionych,Nad wodą,0.0,0,1,0,0,0,...,1,1,0,1,0,0,0,0,sweet,>=16
63,35-44,Wyższe,Koty i Psy,W górach,1.0,0,1,1,1,0,...,1,1,0,1,0,0,1,0,sweet,>=16
114,45-54,Wyższe,Psy,W lesie,0.0,0,0,1,0,1,...,0,0,0,0,0,0,1,0,sweet,>=16
73,45-54,Wyższe,Koty i Psy,NaN,0.0,0,0,1,1,0,...,1,0,0,1,0,1,1,0,salty,>=16
77,35-44,Wyższe,Psy,NaN,1.0,0,1,1,0,1,...,0,1,0,0,0,0,1,0,sweet,6-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,55-64,Wyższe,Inne,NaN,0.0,0,0,1,0,0,...,1,1,0,1,0,1,1,0,NaN,11-15
128,45-54,Wyższe,Inne,Nad wodą,0.0,0,0,0,1,1,...,1,1,0,0,0,1,1,0,sweet,>=16
60,45-54,Wyższe,Psy,W górach,0.0,0,1,1,0,1,...,1,1,0,1,0,1,1,0,salty,>=16
0,<18,Podstawowe,Brak ulubionych,NaN,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,0-2
54,35-44,Wyższe,Psy,W lesie,0.0,0,1,1,0,0,...,0,0,0,0,0,1,1,0,salty,11-15

In [5]:
df['age'].value_counts()

age
35-44      55
45-54      40
25-34      22
55-64       9
18-24       6
>=65        5
unknown     2
<18         1
Name: count, dtype: int64