In [21]:
import streamlit as st
import pandas as pd
from pathlib import Path
import matplotlib as plt

#TODO: check if ydataprofiler can be added as HTML

csv_file_path = Path('35__welcome_survey_cleaned.csv')
df = pd.read_csv(csv_file_path, sep=';')

In [23]:
df.sample(10)

,age,edu_level,fav_animals,fav_place,gender,hobby_art,hobby_books,hobby_movies,hobby_other,hobby_sport,...,learning_pref_teamwork,learning_pref_workshops,motivation_career,motivation_challenges,motivation_creativity_and_innovation,motivation_money_and_job,motivation_personal_growth,motivation_remote,sweet_or_salty,years_of_experience
25,45-54,Wyższe,Psy,W lesie,0.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,salty,>=16
68,35-44,Wyższe,Psy,Nad wodą,0.0,0,0,0,0,1,...,0,0,0,0,0,1,1,0,salty,>=16
93,45-54,Średnie,Inne,W lesie,0.0,0,1,0,0,1,...,0,0,0,0,1,0,1,0,sweet,>=16
115,25-34,Wyższe,Koty,NaN,0.0,0,1,1,0,0,...,1,1,0,1,0,0,1,0,NaN,3-5
117,45-54,Wyższe,Inne,W lesie,0.0,0,1,0,1,0,...,1,1,0,1,0,0,1,0,sweet,>=16
98,35-44,Średnie,Psy,W lesie,1.0,0,1,0,0,0,...,0,1,0,0,0,1,1,0,sweet,6-10
42,35-44,Wyższe,Brak ulubionych,W lesie,0.0,0,0,0,1,0,...,0,0,0,0,0,1,1,0,sweet,>=16
13,35-44,Średnie,Inne,W górach,0.0,0,1,1,0,0,...,0,0,0,0,0,0,1,0,sweet,0-2
14,45-54,Wyższe,Inne,Nad wodą,0.0,0,0,0,1,0,...,1,1,0,1,0,0,1,0,NaN,>=16
72,55-64,Wyższe,Psy,Nad wodą,0.0,0,1,0,0,0,...,1,1,0,1,0,0,1,0,salty,NaN

In [29]:
df['years_of_experience'].dtype

years_of_experience
>=16     65
6-10     28
11-15    25
0-2      13
3-5       7
Name: count, dtype: int64